<!--?xml version="1.0" encoding="utf-8" ?-->
<configuration>
   <runtime>
      <assemblybinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentassembly>
            <assemblyidentity name="xunit.extensions" publickeytoken="8d05b1bb7a6fdb6c" culture="neutral">
               <bindingredirect oldversion="0.0.0.0-1.7.0.1540" newversion="1.9.1.1600">
               </bindingredirect>
            </assemblyidentity>
         </dependentassembly>
         <dependentassembly>
            <assemblyidentity name="Moq" publickeytoken="69f491c39445e920" culture="neutral">
               <bindingredirect oldversion="0.0.0.0-3.1.416.3" newversion="4.0.10827.0">
               </bindingredirect>
            </assemblyidentity>
         </dependentassembly>
      </assemblybinding>
   </runtime>
</configuration>
